#win, #low, #high {
    display:none;
}

#low{
    background-color: yellowgreen;
    color: black;
}

#high{
    background-color: rgb(255, 60, 0);
    color: black;
}

section{
    width:80%;
    margin: 20px auto;
}